<nav class="bg-dark">
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="/">Home</a>
    </li>
    <!--Active con js, para que se seleccione en que parte estan -->
    <li class="nav-item">
      <a class="nav-link active" href="/posts">Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
</nav>
