  <body>
       <%- include ("../partials/home") %>
    <%- include ("../partials/header") %>
    <nav class="container">
    <h1>Crear noticia </h1>
    <form action="/posts/store" method="post">
        <div class="mb-3 row">
            <label for="title" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" id="title">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save </button>
    </form>
     </nav>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>


<!--
  <%- es para el include
  <% esto es para ejecutar js
  <%= esto es para imprimir 
  
 -->