<%- include ("../partials/home") %>
  <body>
<%- include ("../partials/header") %>
    <nav class="container">
    <h1>Listed de Notices!</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Resume</th>
            <th scope="col">action's</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="/posts/1"> Notice 1</a></td>
            <td>Image 1</td>
            <td>Resume...</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="/posts/2"> Notices 2</a></td>
            <td>Image 2</td>
            <td>Resume...</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="/posts/3"> Notices 3</a></td>
            <td>Imag 3</td>
            <td>Resume...</td>
          </tr>
        </tbody>
      </table>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
